* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.top-sec {
    padding: 150px;
    background-image: url(sources/images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top-portion {
    text-align: center;

}

.motto {
    color: white;
    font-weight: 700;
    font-size: 70px;
    margin: 0;
}

.motto-des {
    color: white;
    font-weight: 400;
}

.button1 {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(salmon, tomato);
    display: inline-block;
    margin-top: 30px;
    padding: 20px 40px;
    border-radius: 10px;
}

/*-------- 2nd section ------*/

.middle-sec {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.heading {
    font-size: 50px;
    margin: 20px;
}

.heading-des {
    color: #747474;
}

.donate-box {
    display: flex;
    justify-content: center;
}

.money {
    background-color: #e2e2e2;
    color: #747474;
    margin: 50px;
    padding: 40px 40px;
    border-radius: 10px;
}

#highlight-money {
    background-color: #f8d6d2;
    color: #ff4e2e;
    border: 3px solid #ff4e2e;
}

.hr-part {
    color: #747474;
    margin: 20px;
}

.hr {
    width: 50%;
    margin-left: 25%;
}

/*-------- 3rd section --------*/

.third-part {
    text-align: center;
}

.plans {
    display: flex;
    margin: 50px;
}

.plan-heading {
    margin: 20px 0px;
}

.plan-box1 {
    text-align: justify;
    background-color: #e1f9ff;
    margin: 10px;
    padding: 30px 20px 20px 40px;
    border-radius: 10px;
}

.plan-box2 {
    text-align: justify;
    background-color: #ffe8eb;
    margin: 10px;
    padding: 30px 20px 20px 40px;
    border-radius: 10px;
}

.plan-box3 {
    text-align: justify;
    background-color: #fffce4;
    margin: 10px;
    padding: 30px 20px 20px 40px;
    border-radius: 10px;
}

/*------ join us section ----*/

.offer-head {
    font-size: 40px;
    text-align: center;
}

.ju-img img {
    width: 80%;
    margin-left: 50px;
}

.offer-sec {
    display: flex;
    margin-top: 50px;
}

.flexer {
    width: 100%;
}

.ju-offer {
    text-align: justify;
    font-style: italic;
    color: crimson;
    font-weight: 700;
    padding: 20px;
    margin: 40px;
}

/*------- update section -----*/

.update {
    margin: 20px;
}

.update-head {
    text-align: center;
    margin-bottom: 50px;
}

.mail-container {
    height: 200px;
    width: 700px;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.mail {
    background-color: lightgray;
    color: #747474;
    margin-left: 150px;
    padding: 10px 250px 10px 10px;

}

.sub-button {
    background-color: tomato;
    padding: 10px 50px 10px 50px;
    color: white;
}

/*--------- footer -------*/

.footer {
    text-align: center;
    background-color: black;
    margin-top: 100px;
    padding: 30px 10px;
}

#f-head {
    color: crimson;
    font-family: 'Lobster', cursive;
}

#f-des {
    color: white;
    margin-top: 20px;
}